<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.yhhu.financial.provider.mapper.TbUserMapper">
    <resultMap id="BaseResultMap" type="xyz.yhhu.financial.provider.domain.TbUser">
        <!--@mbg.generated-->
        <!--@Table tb_user-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_name, nick_name, `password`, avatar
    </sql>
    <resultMap id="permissionMap" type="xyz.yhhu.financial.provider.vo.UserPermissionVO">
        <collection property="permissionList"
                    javaType="ArrayList"
                    ofType="java.lang.String"
                    select="getPermission"
                    column="id">
        </collection>
    </resultMap>
    <select id="selectPermissionByUserName" resultType="xyz.yhhu.financial.provider.vo.UserPermissionVO">
        select tu.id,
               tu.user_name,
               tu.password,
               tr.name as role_name
        from tb_user as tu
                     left join tb_user_role as tur on tu.id = tur.user_id
                     left join tb_role as tr on tur.role_id = tr.id
        where tu.user_name = #{username}
    </select>
    <select id="getPermission" resultType="java.lang.String">
        select tp.url
        from tb_user as tu
                     left join tb_user_role as tur on tu.id = tur.user_id
                     left join tb_role as tr on tur.role_id = tr.id
                     left join tb_role_permission trp on tr.id = trp.role_id
                     left join tb_permission tp on trp.permission_id = tp.id
        where tu.id = #{id}
    </select>
</mapper>
